*{
    margin: 0 auto;
}

.elemento1, .elemento2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

.elemento1 {
    background: rgb(211, 11, 11);
    width: 250px;
    height: 50px;
    margin-top: 50px;
}

.elemento2 {
    background: rgb(90, 79, 79);
    width: 250px;
    height: 50px;
    padding: 0 50px;
}